In [50]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.6.15)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [168]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [171]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32.zip/chromedriver.exe")

In [172]:
driver.get("https://www.naukri.com/")

In [173]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [159]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [160]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [161]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [162]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [163]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [164]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [165]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [166]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [167]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst / Senior Analyst - R / SQL / Python,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
3,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs

In [ ]:
search_bar = driver.find_element_by_xpath('//*[@id="qsb-keyskill-sugg"]')
search_bar.send_keys("Data Scientist")
search_button = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')
search_button.click()

In [ ]:
location_dropdown = driver.find_element_by_xpath('//*[@id="location"]')
location_dropdown.click()
location_filter = driver.find_element_by_xpath('//*[@id="location"]/div[2]/ul/li[7]/label/input')
location_filter.click()

In [ ]:
salary_dropdown = driver.find_element_by_xpath('//*[@id="salary"]')
salary_dropdown.click()
salary_filter = driver.find_element_by_xpath('//*[@id="salary"]/div[2]/ul/li[3]/label/input')
salary_filter.click()

In [ ]:
jobs = driver.find_elements_by_xpath('//*[@id="job-result"]/div')
data = []
for job in jobs[:10]:
    title = job.find_element_by_xpath('.//a/div[1]/h3').text
    location = job.find_element_by_xpath('.//a/div[2]/div[1]/span[2]').text
    company = job.find_element_by_xpath('.//a/div[2]/div[2]/span[1]').text
    experience = job.find_element_by_xpath('.//a/div[2]/div[3]/span[1]').text
    data.append({'title':title, 'location':location, 'company':company, 'experience':experience})

In [ ]:
df = pd.DataFrame(data)

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.flipkart.com/")

In [ ]:
Product=driver.find_element(By.CLASS_NAME,"_3704LK")
Product.send_keys('Sunglasses')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
Brand_title=[]
Product_Description=[]
Product_Price=[]
Product_off=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:100]:
    title=i.text
    Brand_title.append(title)

In [ ]:
Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)

In [ ]:
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:100]:
    Price=i.text
    Product_Price.append(Price)

In [ ]:
off_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in off_tags[0:100]:
    off=i.text
    Product_off.append(off)

In [ ]:
next_button = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div[2]/div[1]/div/nav/a[2]')
next_button.click()

In [ ]:
df = pd.DataFrame(data)

In [ ]:
driver.close()

In [ ]:
Brand_title=[]
Product_Description=[]
Product_Price=[]
Product_off=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:100]:
    title=i.text
    Brand_title.append(title)

In [ ]:
Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)

In [ ]:
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:100]:
    Price=i.text
    Product_Price.append(Price)

In [ ]:
off_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in off_tags[0:100]:
    off=i.text
    Product_off.append(off)

In [ ]:
next_button = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div[2]/div[1]/div/nav/a[2]')
next_button.click()

In [ ]:
df = pd.DataFrame(data)

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [ ]:
reviews = driver.find_elements_by_xpath('//div[@class="_2xg6Ul"]')
data = []
for review in reviews:
    title = review.find_element_by_xpath('.//p[@class="_2xg6Ul"]').text
    rating = review.find_element_by_xpath('.//div[@class="hGSR34_2beYZw"]').text
    author = review.find_element_by_xpath('.//p[@class="_3LYOAd _3sxSiS"]').text
    data.append({'title':title, 'rating':rating, 'author':author})

In [ ]:
next_button = driver.find_element_by_xpath('//a[@class="_3fVaIS"]')
next_button.click()

In [ ]:
reviews = []

In [ ]:
for i in range(5):

In [ ]:
driver.implicitly_wait(10)

In [ ]:
reviews_elements = driver.find_elements(By.XPATH, '//div[@class="_2fyjv_"]')
    for element in reviews_elements:
        review = {}
        review["rating"] = element.find_element(By.XPATH, './/div[@class="_2xg6Ul"]').text
        review["review_summary"] = element.find_element(By.XPATH, './/div[@class="qwjRop"]').text
        review["review_full"] = element.find_element(By.XPATH, './/div[@class="_3gijNv col-12-12"]').text
        reviews.append(review)

In [ ]:
try:
        next_button = driver.find_element(By.XPATH, '//a[@class="_3fVaIS"]')
        next_button.click()
    except Exception as e:
        break

In [ ]:
reviews_df = pd.DataFrame(reviews)

In [ ]:
# Navigate to the URL of the homepage
driver.get("https://www.flipkart.com/")

In [ ]:
# Locate the search field, enter the search query and click the search button
search_field = driver.find_element_by_xpath('//input[@name="q"]')
search_field.send_keys("sneakers")
search_field.submit()

In [ ]:
sneakers = []

In [ ]:
while True:
    # wait for the page to load
    driver.implicitly_wait(10)
    # Locate the sneakers listings and extract the data
    sneakers_elements = driver.find_elements(By.XPATH, '//div[@class="_2kHMtA"]')
    for element in sneakers_elements:
        sneakers_data = {}
        sneakers_data["brand"] = element.find_element(By.XPATH, './/div[@class="_2rQ-NK"]').text
        sneakers_data["product_description"] = element.find_element(By.XPATH, './/div[@class="_2RngUh"]').text
        sneakers_data["price"] = element.find_element(By.XPATH, './/div[@class="_30jeq3 _1_WHN1"]').text
        sneakers.append(sneakers_data)
    if len(sneakers) >= 100:
        break
    # Locate the next button and click it
    try:
        next_button = driver.find_element(By.XPATH, '//a[@class="_3fVaIS"]')
        next_button.click()
    except Exception as e:
        break

In [ ]:
# Create a dataframe from the scraped data
sneakers_df = pd.DataFrame(sneakers)

In [ ]:
# Close the webdriver
driver.quit()

In [ ]:
# Navigate to the URL of the Amazon homepage
driver.get("https://www.amazon.in/")

In [ ]:
# Locate the search field, enter the search query and click the search button
search_field = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_field.send_keys("Laptop")
search_field.submit()

In [ ]:
# Set the CPU Type filter to "Intel Core i7"
driver.find_element(By.XPATH, '//span[text()="CPU Type"]').click()
driver.find_element(By.XPATH, '//span[text()="Intel Core i7"]').click()

In [ ]:
laptops = []

In [ ]:
while True:
    # wait for the page to load
    driver.implicitly_wait(10)
    # Locate the laptop listings and extract the data
    laptop_elements = driver.find_elements(By.XPATH, '//div[@class="s-result-item s-result-card-for-container a-declarative"]')
    for element in laptop_elements:
        laptop_data = {}
        laptop_data["title"] = element.find_element(By.XPATH, './/span[@class="a-size-medium a-color-base a-text-normal"]').text
        laptop_data["ratings"] = element.find_element(By.XPATH, './/span[@class="a-icon-alt"]').text
        laptop_data["price"] = element.find_element(By.XPATH, './/span[@class="a-price-whole"]').text
        laptops.append(laptop_data)
    if len(laptops) >= 10:
        break

In [ ]:
# Create a dataframe from the scraped data
laptops_df = pd.DataFrame(laptops)

In [ ]:
# Close the webdriver
driver.quit()

In [ ]:
# Navigate to the URL of the website
driver.get("https://www.azquotes.com/")

In [ ]:
# Click on the Top Quotes button
driver.find_element(By.XPATH, '//a[@href="/top-quotes"]').click()

In [ ]:
quotes = []

In [ ]:
while True:
    # wait for the page to load
    driver.implicitly_wait(10)
    # Locate the quotes and extract the data
    quote_elements = driver.find_elements(By.XPATH, '//div[@class="col-6 col-md-4 text-center margin-30px-bottom sm-margin-30px-top"]')
    for element in quote_elements:
        quote_data = {}
        quote_data["quote"] = element.find_element(By.XPATH, './/a[@class="text-medium text-extra-dark-gray"]').text
        quote_data["author"] = element.find_element(By.XPATH, './/a[@class="authorOrTitle"]').text
        quote_data["type_of_quote"] = element.find_element(By.XPATH, './/a[@class="block text-medium-gray text-uppercase"]').text
        quotes.append(quote_data)
    if len(quotes) >= 1000:
        break
    # Locate the next button and click it
    try:
        next_button = driver.find_element(By.XPATH, '//a[@class="next_page"]')
        next_button.click()
    except Exception as e:
        break

In [ ]:
# Create a dataframe from the scraped data
quotes_df = pd.DataFrame(quotes)

In [ ]:
# Close the webdriver
driver.quit()

In [ ]:
# Navigate to the URL of the website
driver.get("https://www.jagranjosh.com/")

In [ ]:
# Click on the GK option
driver.find_element(By.XPATH, '//a[@href="/general-knowledge"]').click()

In [ ]:
# Click on the List of all Prime Ministers of India
driver.find_element(By.XPATH, '//a[@href="/general-knowledge/list-of-all-prime-ministers-of-india-135865"]').click()

In [ ]:
prime_ministers = []

In [ ]:
# wait for the page to load
driver.implicitly_wait(10)

In [ ]:
# Locate the Prime Ministers and extract the data
prime_ministers_elements = driver.find_elements(By.XPATH, '//table[@class="table table-striped"]//tbody//tr')
for element in prime_ministers_elements:
    prime_ministers_data = {}
    prime_ministers_data["Name"] = element.find_element(By.XPATH, './/td[1]//a').text
    prime_ministers_data["Born-Dead"] = element.find_element(By.XPATH, './/td[2]').text
    prime_ministers_data["Term of office"] = element.find_element(By.XPATH, './/td[3]').text
    prime_ministers_data["Remarks"] = element.find_element(By.XPATH, './/td[4]').text
    prime_ministers.append(prime_ministers_data)

In [ ]:
# Create a dataframe from the scraped data
prime_ministers_df = pd.DataFrame(prime_ministers)

In [ ]:
# Close the webdriver
driver.quit()

In [ ]:
# Navigate to the URL of the website
driver.get("https://www.motor1.com/")

In [ ]:
# Click on the List option from Dropdown menu on left side
driver.find_element(By.XPATH, '//a[@href="/lists/"]').click()

In [ ]:
# Click on 50 most expensive cars in the world
driver.find_element(By.XPATH, '//a[@href="/lists/50-most-expensive-cars-in-the-world/"]').click()

In [ ]:
cars = []

In [ ]:
# wait for the page to load
driver.implicitly_wait(10)

In [ ]:
# Locate the cars and extract the data
car_elements = driver.find_elements(By.XPATH, '//div[@class="col-12 col-md-6 col-lg-4 text-center"]')
for element in car_elements:
    car_data = {}
    car_data["Car name"] = element.find_element(By.XPATH, './/h2').text
    car_data["Price"] = element.find_element(By.XPATH, './/span[@class="price"]').text
    cars.append(car_data)

In [ ]:
# Create a dataframe from the scraped data
cars_df = pd.DataFrame(cars)

In [ ]:
# Close the webdriver
driver.quit()